{% extends "base.html" %}
{% block navbutton %}
    <a>
        <span class="fa fa-bell" id="notification"></span>
    </a>

    <a href="{{ url_for('logout') }}" class="btn btn-info my-2 my-sm-0"
       id="navbar-button">Log Out</a>
{% endblock %}


{% block content %}
    <div class="header-container">
        <div class="wrapper">

            <div class="center">
                <h1> All {{ current_user.email }} 's connections: </h1>
                <ul>
                    {% for connection in connections %}
                        <li>{{ connection.name }} {{ connection.title }} {{ connection.phone }} {{ connection.email }} {{ connection.contactby }} {{ connection.lastcontacted }} {{ connection.tag }} {{ connection.note }}</li>
                    {% endfor %}
                </ul>

                <h1>Add Connection</h1>

                <form action="{{ url_for('addconnection') }}" method="POST">
                    {{ form.hidden_tag() }}

                    <div class="field">
                        {{ form.name(size=32) }} {{ form.name.label }}
                    </div>

                    <div class="field">
                        {{ form.title(size=32) }} {{ form.title.label }}
                    </div>

                    <div class="field">
                        {{ form.phone(size=32) }} {{ form.phone.label }}
                    </div>

                    <div class="field">
                        {{ form.email(size=32) }} {{ form.email.label }}
                    </div>

                    <div class="field">
                        {{ form.contact_by(size=32, placeholder="yyyy-mm-dd", class="datepicker") }} {{ form.contact_by.label }}
                    </div>

                    <div class="field">
                        {{ form.last_contacted(size=32, placeholder="yyyy-mm-dd", class="datepicker") }} {{ form.last_contacted.label }}
                    </div>

                    <div class="field">
                        {{ form.tags(size=32) }} {{ form.tags.label }}
                    </div>

                    <div class="field">
                        {{ form.note(size=64) }} {{ form.note.label }}
                    </div>

                    <div class="field">
                        {{ form.submit() }}
                    </div>
                </form>
            </div>

        </div>
    </div>

    {% with messages = get_flashed_messages() %} {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %} {% endwith %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const elems = document.querySelectorAll('.datepicker');
            options = {
                container: "body",
                format: "%Y-%m-%d"
            }
            const instances = M.Datepicker.init(elems, options);
        });
    </script>
{% endblock %}

