{% extends "base.html" %} {% block navbutton %}

<a href="{{ url_for('login') }}" class="btn btn-info" id="navbar-button"
  >Log In</a>

{% endblock %} {% block content %}

<body>
	
<div id="container">
   <div id="content-container">
      <h1 style="color: #EB5757">We scratch, build, and play together</h1>
      <p> With us, you can curate your network on the palm of your hand. Let us remind you when you need to call a friend, when you need to reach out to new contacts or how to cold email a professional figure. We are Plink!</p>
      <button style="background-color: #2D9CDB;"><a href="{{ url_for('signup') }}" id="navbar-button"
  >Sign Up Now!</a></button>
   </div>
   <div id="bg-container">
      <img class='image' src="{{ url_for('static', filename='images/logo.png') }}", width="550" height="550">
   </div>
</div>


</body>

{% endblock %}


