{% extends "base.html" %} {% block navbutton %}

<a href="{{ url_for('login') }}" class="btn btn-info" id="navbar-button"
  >Log In</a>

{% endblock %} {% block content %}

<body>
	
<div id="container">
   <div id="content-container">
      <h1 style="color: #EB5757">We scratch, build, and play together</h1>
      <p>Reach out to new connections, build bridges, and stay on top. We are the place where all your network comes together.
      We are the place where you will be able to make new contacts. We are Plink!</p>
      <button style="background-color: #2D9CDB;"><a href="{{ url_for('signup') }}" class="btn btn-info" id="navbar-button"
  >Sign Up Now!</a></button>
   </div>
   <div id="bg-container">
      <img class='image' src="{{ url_for('static', filename='images/logo.png') }}", width="550" height="550">
   </div>
</div>


</body>

{% endblock %}


