{% extends "base.html" %} {% block navigation %}
<ul class="nav-items">
  <li>
    <a href="#">About</a>
  </li>
  <li>
    <a href="#">Contact</a>
  </li>
  <li>
    <a href="#">Help</a>
  </li>
  <li>
    <a href="{{ url_for('signup') }}">Sign Up</a>
  </li>
</ul>
{% endblock %} {% block content %}

<div class="header-container">
  <div class="wrapper">
    <div class="center">
      <h1 class="LOGO_login">Plink</h1>
      <form action="{{ url_for('login') }}" method="POST">
        {{ form.hidden_tag() }}

        <div class="field">
          {{ form.email_or_username(size=32) }} {{ form.email_or_username.label
          }}
        </div>
        <div class="field">
          {{ form.password(size=32) }} {{ form.password.label }}
        </div>

        <div class="checkbox">
          {{ form.remember_me() }} {{ form.remember_me.label }}
        </div>
        <div class="content">
          <div class="pass-link">
            <!-- TODO: Make forgot password work -->
            <a href="{{ url_for('reset_request')}}">Forgot password?</a>
          </div>
        </div>
        <div class="field">{{ form.submit() }}</div>
      </form>

      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
    </div>
  </div>
</div>

{% endblock %}
