{% extends "base.html" %} {% block navbutton %}

<div class="dropdown-container">
    <button type="button" class="btn btn-info my-2 my-sm-0 reminders" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Reminders
    <span class="badge badge-light">{{ badge_num }}</span>
    <span class="sr-only">unread reminders</span>
  </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for connection in overdue_connections %}
        <a class="dropdown-item" href="#">You need to contact {{ connection.name }}!</a> {% endfor %} {% if badge_num == 0 %}
        <a class="dropdown-item" href="#">All cleared!</a> {% endif %}
    </div>
</div>


<a href="{{ url_for('logout') }}" class="btn btn-info my-2 my-sm-0">Log Out</a> {% endblock %} {% block content %}
<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>User Information</h3>
        </div>
        <ul class="lisst-unstyled components">
            <li class="active"></li>
            <li>
                <a href="#"><span class="fa fa-address-book sidebar-icons"></span>Contacts</a
        >
      </li>
      <li>
        <a href="#"><span class="fa fa-search sidebar-icons"></span>Search</a>
            </li>
            <li>
                <a href="#"><span class="fa fa-clock-o sidebar-icons"></span>Reminders</a
        >
      </li>

      <li>
        <a href="#"><span class="fa fa-file sidebar-icons"></span>Template</a>
            </li>
        </ul>
    </nav>

    <div id="content">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
      <i class="fa fa-bars"></i>
    </button>
    </div>
</div>
{% endblock %}