{% extends "base.html" %} {% block navbutton %}
<a>
  <span class="fa fa-bell" id="notification"></span>
</a>

<a
  href="{{ url_for('logout') }}"
  class="btn btn-info my-2 my-sm-0"
  id="navbar-button"
  >Log Out</a
>
{% endblock %} {% block content %}
<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>User Information</h3>
    </div>
    <ul class="lisst-unstyled components">
      <li class="active"></li>
      <li>
        <a href="#">Contacts</a>
      </li>
      <li>
        <a href="#">Search</a>
      </li>
      <li>
        <a href="#">Reminders</a>
      </li>

      <li>
        <a href="#">Template</a>
      </li>
    </ul>
  </nav>

  <div id="content">
    <button type="button" id="sidebarCollapse" class="btn btn-info">
      <i class="fas fa-align-left"></i>
      <span>Toggle Sidebar</span>
    </button>

    <br /><br />
  </div>
</div>
{% endblock %}
