<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Klink - Login</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="../images/logo.png">
</head>
<body>

    <div class ="nav-container">
        <div class="wrapper">
            <nav>
                <div class="logo">
                    <a href="#"><img src="../images/logo.png" alt="Klink logo" class="img-responsive"></a>
                </div>

                <ul class="nav-items">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a href="#">Help</a>
                    </li>
                    <li>
                        <a href="#">Log in</a>
                    </li>
                    <li>
                        <a href="#">Sign Up</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class ="header-container">
        <div class="wrapper">
            <header>
                <div class = "center">
                    <h1 class="LOGO_login">Klink</h1>
                    <p>
                        <form action="#" method="POST">
                            <!-- {{form.csrf.token}} -->
                            <div class="field">
                              <input type="text" required>
                              <!-- {{form.username.label}} -->
                              <label>Email address</label>
                              <!-- {{form.username(size=20)}} -->
                            </div>
                    <div class="field">
                              <input type="password" required>
                              <!-- {{form.password.label}} -->
                              <label>Password</label>
                              <!-- {{form.password(size=20)}} -->
                            </div>
                    <div class="content">
                    <div class="pass-link">
                    <a href="#">Forgot password?</a></div>
                    </div>
                    <div class="field">
                              <input type="submit" value="Login">
                    </div>
                    
                    </form>
                    </div>

                    </p>

                    
                </div>
            </header>
        </div>
    </div>

    <script src="main.js"></script>
</body>
</html>